<h1 class="page-title">気分で選ぶ</h1>

<div class="mood-cards">
  <% @moods.each do |mood| %>
    <%= link_to mood_path(mood), class: "mood-card" do %>
      <div class="mood-card__body">
        <p class="mood-card__title"><%= mood.name %></p>
      </div>
    <% end %>
  <% end %>
</div>
