<h1>お気に入り一覧</h1>

<% if @beverages.any? %>
  <ul>
    <% @beverages.each do |beverage| %>
      <li>
        <%= link_to beverage.name, beverage_path(beverage) %>
        （<%= beverage.category.name %>）

        <%= button_to "お気に入り解除",
                      beverage_favorite_path(beverage),
                      method: :delete,
                      class: "btn btn-outline-danger btn-sm" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>お気に入りはまだありません。</p>
<% end %>